@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

#root
{
  font-family: "PT Serif", serif;
  font-weight: 200;
  font-style: normal;

  --background-color: #ffffff;
  --primary-color: #222222;
  --accent-color: #b91313;
  /* --accent-transparent-color: #b9131322; */

  --mobile-screen-margin: 25px;
  --desktop-screen-margin: 25%;
  --desktop-element-maxwidth: 1000px;

  --navbar-height: 50px;

  --menu-btn-margin: 10px;
  --menu-font-size: 1.5rem;
  --menu-dropdown-btn-size: 50%;
  --menu-dropdown-speed: 0.3s;

  --banner-height: 250px;

  --footer-height: 250px;

  --btn-gap: 10px;
  --btn-padding: 10px;
  --btn-border-radius: 10px;
  --btn-hover-size-increase: 5px;
  --btn-transition-duration: 0.15s;
  --btn-underline-size: 4px;

  --img-border-radius: 10px;

  background-color: var(--background-color);
}
body
{
  margin: 0 auto;
  overflow-x: hidden;
}
.global-btn-style
{
  padding: var(--btn-padding);
  border-radius: var(--btn-border-radius);
  border: solid 3px var(--accent-color);
  text-decoration: none;
  color: black;
  transition-duration: var(--btn-transition-duration);
  transition-property: background-color, color;
}
.global-btn-style:hover
{
  background-color: var(--accent-color);
  color: white;
  transition-duration: var(--btn-transition-duration);
}
.content-container
{
  min-height: calc(100vh - var(--navbar-height) - var(--banner-height) - var(--footer-height))
}
button
{
  width: fit-content;
}
.btn-underline-effect, button
{
  border: none;
  width: fit-content;
  background-color: transparent;
  font-family: "PT Serif", serif;
  font-size: 1rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: var(--accent-color);
  cursor: pointer;
}
.btn-underline-effect::after, button::after
{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0;
  bottom: -5px;
  background-color: var(--accent-color);
  transition-duration: var(--btn-transition-duration);
  transition-property: height;
}
.btn-underline-effect:hover::after, button:hover::after
{
  height: 3px;
  transition-duration: var(--btn-transition-duration);
  transition-property: height;
}
.form-text-style, .form-dropdown-style
{
  border: none;
  border-bottom: solid var(--accent-color) 2px;
  padding: 5px;
}
.form-text-style
{
  appearance: textfield;
}
.form-dropdown-style
{
  background-color: transparent;
}
input, select
{
  margin-bottom: 25px;
  color: var(--accent-color);
}



#desktop-navbar
{
  position: sticky;
  top: 0;
  display: grid;
  height: var(--navbar-height);
  z-index: 5;
}
#desktop-navbar div
{
  display: grid;
  grid-auto-flow: column;
  grid-gap: var(--menu-btn-margin);
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
#mobile-navbar
{
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: var(--mobile-screen-margin);
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  z-index: 10;
  transition-duration: var(--menu-dropdown-speed);
  transition-property: transform;
}
#mobile-navbar div
{
  display: flex;
  flex-direction: column;
}
#mobile-navbar .navbar-btn
{
  position: relative;
  margin-top: var(--menu-btn-margin);
  margin-right: calc(var(--mobile-screen-margin) * 2);
  padding-top: var(--menu-btn-margin);
  padding-bottom: var(--menu-btn-margin);
}
.menu-toggle-btn
{
  cursor: pointer;
}
#desktop-menu-btn
{
  position: absolute;
  display: grid;
  height: var(--navbar-height);
  width: var(--navbar-height);
  align-items: center;
  left: 0;
  top: 0;
}
#desktop-navbar div a
{
  visibility: hidden;
}
#mobile-menu-btn
{
  display: grid;
  align-items: center;
  width: 50px;
  height: 50px;
}
#desktop-menu-btn img, #mobile-menu-btn img
{
  position: relative;
  width: var(--menu-dropdown-btn-size);
  left: 50%;
  transform: translateX(-50%);
  transition-duration: var(--btn-transition-duration);
  transition-property: width;
}
#desktop-menu-btn img:hover, #mobile-menu-btn img:hover
{
  width: calc(var(--menu-dropdown-btn-size) + var(--btn-hover-size-increase));
  transition-duration: var(--btn-transition-duration);
  transition-property: width;
}
.navbar-btn
{
  box-sizing: border-box;
  display: block;
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  height: 50%;
  color: white;
  text-decoration: none;
}
.navbar-btn::after
{
  background-color: white;
  bottom: -5px !important;
}
.navbar-btn:hover::after
{
  height: 3px !important;
}
.mobile-navbar a
{
  margin-left: calc(var(--navbar-height) * 0.5);
}
.content-container, #footer
{
  padding: var(--mobile-screen-margin);
}
.banner
{
  background-image: url(/img/banner.jpg);
  background-size: cover;
  background-position: center center;
  margin-left: calc(var(--mobile-screen-margin) * -1);
  margin-right: calc(var(--mobile-screen-margin) * -1);
  margin-top: calc(var(--mobile-screen-margin) * -1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: var(--banner-height);
}
#banner-title-container
{
  display: flex;
  align-items: center;
  color: #ffffff;
}
#banner-title-container img
{
  margin-right: 20px;
  width: 75px;
  height: auto;
}
.homepage-img
{
  position: relative;
  border-radius: var(--img-border-radius);
  width: 60%;
  max-width: 750px;
  left: 50%;
  transform: translateX(-50%);
}
.confections-container
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.confections-container .btn-underline-effect:hover::after
{
  height: 10px !important;
}
.confection-btn
{
  display: block;
  position: relative;
  flex-direction: column;
  margin: var(--btn-gap);
  padding: var(--btn-padding);
  justify-content: top;
  text-align: center;
  text-decoration: none;
  color: black;
  transition-duration: var(--btn-transition-duration);
}
.confection-btn::after
{
  background-color: black;
}
.confection-btn-img
{
  width: 100%;
  height: auto;
  border-radius: var(--img-border-radius);
}
#article-form
{
  display: grid;
  width: fit-content;
  flex-direction: column;
  grid-gap: 15px;
}
.article-img
{
  width: 50%;
  height: auto;
  border-radius: var(--img-border-radius);
}
#cart-table
{
  border-collapse: collapse;
  border: solid 2px black;
}
th
{
  padding: 15px;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
}
td
{
  padding: 15px;
  border-left: dashed 2px black;
}
tr:nth-child(even)
{
  background-color: #00000011;
}
#footer
{
  background-color: var(--primary-color);
  padding-top: var(--mobile-screen-margin);
  padding-bottom: var(--mobile-screen-margin);
  text-align: center;
  min-height: var(--footer-height);
}
#footer h1, #footer p, #footer a
{
  color: white;
}

@media (min-width: 720px)
{
  #desktop-navbar
  {
    position: initial;
  }
  #desktop-navbar div a
  {
    visibility: visible;
  }
  .confections-container
  {
    grid-template-columns: repeat(3, 1fr);
  }
  .content-container, #footer
  {
    padding-left: 10%;
    padding-right: 10%;
  }
  .article-img
  {
    width: 75%;
  }
  #sub-article-container
  {
    display: flex;
  }
  .sub-article-pannel
  {
    display: inline-block;
    width: 50%;
  }
}
@media (min-width: 1200px)
{
  .content-container, #footer
  {
    display: flex;
    justify-content: center;
  }
  .confections-container
  {
    grid-template-columns: repeat(4, 1fr);
  }
}